
#messages{
	border-style: groove;
	border-color: LightCyan;
	font-family: "Impact";
	background-color: DeepPink;
}

body {
	background-color: Cyan;
<<<<<<< HEAD
}
=======
}
>>>>>>> dcb01453d9fc69ace7a103c5bceb318728a57a1b
